# Google/Firebase credentials
app_barbeiro/lib-8877e-firebase-adminsdk-fbsvc-af5908ae7f.json

*firebase-service-account*.json


# Variáveis de ambiente
.env
*.env

# Node
node_modules/

# Flutter
.dart_tool/
build/